.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-bar {
  justify-content: flex-end;
  height: 38px;
  // width: 100px;
}

.navbar {
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claims div {
  height: 350px;
}
