@import '../../../public/styles/constants.scss';
@import '../../../public/styles/mixins.scss';

.insurance-policies {
  width: calc(100% - 4rem);
  margin-left: 2rem;
  margin-right: 2rem;

  @include smlr() {
    width: calc(100% - 5.5rem);
    margin-left: 2.75rem;
    margin-right: 2.75rem;
  }

  @include sm() {
    width: calc(100% - 7rem);
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }

  @include md() {
    max-width: 1016px;
    margin: auto;
  }

  @include lg() {
    max-width: 1160px;
    margin: auto;
  }

  // Add border to first row
  > div:first-of-type {
    border-top: 1px solid $color-border;
  }

  &__see-more {
    margin-top: 30px;

    // A changed visited color in this context doesn't make sense
    // A button would make more sense imo, but the design looks like the Link component
    a:visited {
      color: #0054f0 !important;
    }
  }
}
