%center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

%justify-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

%justify-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// Icons were not working out of the box
%icons {
  display: block;
  background-size: unset !important;
}

%truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
